{% extends 'layout.html' %} 
{% block body_content %}	
	<div> 
	
		<h4> Cheeses </h4>
        {% for cheese in cheeses %}
		{{ cheese.cheese_name }}
		{{ cheese.cheese_texture }}
		{{ cheese.cheese_origin }}
		{{ cheese.cheese_aroma }}
		{{ cheese.cheese_taste }}
		<form action='{{ url_for('updatecheese', cheese_id=cheese.cheese_id) }}'>
			<button>Update</button>
		</form>
		<form action='{{ url_for('deletecheese', cheese_id=cheese.cheese_id) }}'>
			<button>Delete</button>
		</form>
		<br>
	{% endfor %}
	
	<h4> Wines </h4>
	{% for wine in wines %}
		{{wine.wine_name }}
		<form action=' {{url_for('updatewine', wine_id=wine.wine_id) }}'>
			<button>Update</button>
		</form>
		<form action=' {{url_for('deletewine', wine_id=wine.wine_id) }}'>
			<button>Delete</button>
		<br>
	{% endfor %}

	<h4> Pairs </h4>
	{% for pair in pairs %}
		{{pair.pair_id }}
		<form action=' {{url_for('updatepair', pair_id=pair.pair_id) }}'>
			<button>Update</button>
		</form>
		<form action=' {{url_for('deletepair', pair_id=pair.pair_id) }}'>
			<button>Delete</button>
		<br>
	{% endfor %}
	<div>
{% endblock %}

