{% extends 'layout.html  %}
{% block body_content%}

    <div>
        <form action="" method='POST'>
            {{ form.order_with }}
            {{ form.submit }}
        </form>
        {% for cheese in Cheeses %}

            {{ cheese.task }}
            <form action='{{ url_for('update', id=cheese.id) }}'>
            <input type=submit value="Change">
            </form>
            <form action='{{ url_for('delete', id=cheese.id) }}'>
            <input type=submit value="Delete">
            </form>
            <br>

        {% endfor %}
    <div>
{% endblock body_content %}

